<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <!--这里每个大模块y应该还需要分小的模块and all should be modified after learning css and dom-->
    </area--记得用内部链接转跳>
    <div class="container">

        <img src="images/logo.jpg" alt="this is just a logo" />
        <h2>Enterpreneurship Idea Roast </h2>
        <input type="button" value="sign in"></br>
        <input type="button" value="sign up"></br>

    </div>
    <div>
        search:<input type="text" value=""></br>
        <input type="button" value="I want to describe my idea"></br>
    </div>

    <div>
        <!--show the idea-->
        <li>the general content1</li>
        <li>the general content2</li>
        <li>the general content3</li>
        </ul>
        <!--<tr>
            <td>describe 1</td>
        </tr>
        <tr>
            <td>describe 2</td>
        </tr>
        <tr>
            <td>describe 3</td>
        </tr>-->

        </table>
    </div>
</body>

</html>