<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <!--add css at end -->
    <div class="container">

        <img src="images/logo.jpg" alt="this is just a logo" />
        <h2>Enterpreneurship Idea Roast </h2>

    </div>
    <div>
        <form align="center">
            <!--may need css later and link to the backend-->
            <h3>
                Registration
            </h3>
            <!--can add a input about the picture if have time-->
            name:</br>
            <input type="text"></br>
            password:</br>
            <input type="text"></br>
            email address:</br>
            <input type="text"></br>
            telephone number:</br>
            <input type="text"></br>
            <input type="checkbox"> I am an expert in bunsiness.</br>

            <input type="submit" value="submit"></br>
            m <input type="radio">f <input type="radio">other<input type="radio">

        </form>

    </div>
</body>

</html>