<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload_my_idea</title>
</head>

<body>
    <area--!这里每个大模块y应该还需要分小的模块-->
        </area--记得用内部链接转跳>
        <div>
            <area--!这里分成一块-->
                <!--needed to use css-->
                <img src="images/logo.jpg" alt="this is just a logo" />
                <h2>My Idea </h2>
                <input type="button" value="my account">
                <!--the detail of what I had been upload-->
        </div>
        <div>
            <!--thid is for user to upload their ideas，表单域2-->

            <form action=" " method="POST" align="center">
                <h4>1 General topic of ideas:</h4>

                <input type="text" style="width:745px;height:95px" value=" what is the product? where couldit been used? who would like to use it ?"></br>
                <!--all the fill in content should be coded later-->
                <h4>2 the detail of the market situation:</h4>
                <input type="text" style="width:745px;height:95px" value="size, competition, dynamics that we should be aware of."></br>
                <h4>3 product analysis/comparison against competition</h4>
                <input type="text" style="width:745px;height:95px"></br>
                <h4>4 what stage are you in? Or the stage planning</h4>
                <input type="text" style="width:745px;height:95px"></br>
                <h4> 5 the highlight to attract customers</h4>
                <input type="text" style="width:745px;height:95px"></br>
                <h4> 6 what is the " elevator pitch "?</h4>
                <input type="text" style="width:745px;height:95px"></br>
                <h4> 7 business mode and business prospect</h4>
                <input type="text" style="width:745px;height:95px"></br>
            </form>

        </div>
        <div>
            <!--also can upload the designing file like picture, video and document-->
            <br> I want to upload a file about my design.</br> <input type="file"></br>
            <input type="submit" value="submit">
        </div>
</body>

</html>